.searchBox {
    margin-top: 20px;
    margin-left: 40%;
    margin-right: auto;
}

input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
