.searchBox {
    /* margin-top: 15%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}
a {
    outline: none;
    color: black;
}

h2 {
    color: #4a90cf;
}
input[type="search" i] {
    width: 250px;
    height: 45px;
    border-radius: 30px 10px;
    font-size: 16px;
    padding: 10px;
}

.searchBox button {
    border: none;
    outline: none;
    height: 45px;
    width: 150px;
    background: #4a90cf;
    color: #fff;
    font-size: 18px;
    border-radius: 30px 10px;
}

button:hover {
    cursor: pointer;
    background: #336997;
    color: black;
}

.userContainer {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.profileImage {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.top {
    display: flex;
    flex-direction: row;
    padding: 20px 40px 9px 40px;
}

.detailBox {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.location {
    display: flex;
    flex-direction: row;
}

.location img {
    height: 21px;
    width: 21px;
}
.location p {
    text-align: center;
}

.bottom img {
    height: 25px;
    width: 25px;
}

.card {
    height: 260px;
    width: 650px;
    outline: solid 1px black;
    margin: 24px 24px 0 0;
}

.repoGrid {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    flex-wrap: wrap;
    margin: 30px;
    text-align: left; */

    display: flex;
    align-items: center;
    margin: 0 12px;
    padding: 0 0 56px;
    flex-flow: row wrap;
}

.repoContainer {
    width: 92%;
    margin: auto;
}

.repoDetails {
    padding: 1px 24px 6px 10px;
}

.languageBox {
    display: flex;
    flex-flow: row wrap;
}

.language {
    max-width: 50%;
    min-width: 15px;
    height: 15px;
    background: #4a90cf;
    padding: 8px;
    margin: 3px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 13px;
    /* border: 1px solid ; */
    float: left;
}

.PageButtonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pagination {
    margin-top: 64px;
}

.PaginationPages button {
    width: 39px;
    height: 39px;
    color: #4a90cf;
    background-color: white;
    border: 1px solid #dcdcdc;
}

.BelowButton {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin: 16px;
}

.BelowButton button {
    width: 120px;
    height: 40px;
    border-radius: 28px;
    background-color: white;
    font-weight: 600;
    border: 1px solid #dcdcdc;
}

@media screen and (max-width: 768px) {
    * {
        max-width: 100vw;
    }

    .top {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        align-items: center;
    }
    .card {
        margin: 12px -9px 4px 9px;
    }
    .detailBox {
        margin: 0px;
        align-items: center;
    }
    .location {
        align-items: center;
    }
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
